.env
*.env
__pycache__/
*.pyc
*.csv
.DS_Store
Thumbs.db
.ipynb_checkpoints/
data/*
data/cleaned/
data/.ipynb_checkpoints
data/FIS_scoresheet_pdfs
.ipynb_checkpoints
src/.ipynb_checkpoints
!data/.gitkeep