DATA_FOLDER =
CLEANED_FOLDER =
ATHLETE_URLS =
WORLD_CUP_URLS =
CLEANED_ATHLETE_DATA =
RAW_ATHLETE_DATA =
CLEANED_OLYMPIC_RESULTS =
EXAMPLE_WC_FOLDER =
FIS_PDFS_FOLDER =

FINAL_TRAINING_FILE_MEN =
FINAL_TRAINING_FILE_WOMEN =
FINAL_TESTING_FILE_MEN =
FINAL_TESTING_FILE_WOMEN =

TESTING_DATA_RANKED_MEN =
TESTING_DATA_RANKED_WOMEN =
COEFFICIENTS_MEN =
COEFFICIENTS_WOMEN =

URLS_OLYMPICS =